/* footer */
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
    color: white
}
/* navbar */
.my-navbar {
    height: 100;
}
/* jumbotron */
.jumbotron-container {
    margin: 85px;
}
.my-jumbotron {
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.my-jumbotron-2 {
    background-image: url("../images/call-to-action-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

/* featurette */
.featurette-margins {
    padding: 60px 15px 40px 15px;
}

.divider-margins {
    margin: 60px 0;
}
/* embeded video */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
    padding-right: 100px;
    padding-left: 100px;
}
.videowrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

/* testimonials */
.testimonial-padding {
    padding: 80px 0;
}
/* buttons */

.button-color {
color: white;
    background-color: transparent;
    background-image: none;
    border-color: white;
}

.button-padding {
    padding: 30px 0 20px 0;
}

.button-color:hover {
    background-color: white;
    border-color: white;
    color: black
}

/* Heading text */
.my-display {
    color: white;
}